# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store

# Output folders
**/output/*

# Jupiter Notebooks
*ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.secrets
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pytest
.coverage
