# Intellij
.idea/
*.iml
*.iws
 
# Mac
.DS_Store
 
# Maven
log/
target/

# Metals
.metals
.scala-build
scala-cli.json

# VSCode
.vscode

# Output folders
**/output/*

# Scala & sbt
.bsp

# Jupiter Notebooks
*ipynb_checkpoints

# Dependencies
/node_modules
/.pnp
.pnp.*
.yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
