# Application base URL
APP_URL=https://main.d14o3o9kbo1n4h.amplifyapp.com/

# Backend URL
VITE_BASE_URL=https://localhost:8004

# Geotab credentials for local development
VITE_GEOTAB_EMAIL=your-email@example.com
VITE_GEOTAB_PASSWORD=your-password
VITE_GEOTAB_DATABASE=your-database
VITE_GEOTAB_SERVER=my.geotab.com