.vehicles-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.vehicles-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.vehicles-list-label {
  color: var(--text-secondary);
  font-size: 0.8rem;
}
