html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  font-family: var(--main-font);
  background-color: var(--backgrounds-content-0);
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pass {
  color: var(--color-success, #008a00);
  fill: var(--color-success, #008a00);
}
.warning {
  color: var(--color-warning, #ed8b00);
  fill: var(--color-warning, #ed8b00);
}
.fall {
  color: var(--color-error, #d22d2d);
  fill: var(--color-error, #d22d2d);
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-success, #008a00);
}

.circle.pass {
  background-color: var(--color-success, #008a00);
}

.circle.warning {
  background-color: var(--color-warning, #ed8b00);
}

.circle.fall {
  background-color: var(--color-error, #d22d2d);
}

.table-container {
  flex-grow: 1;
  min-height: 0;
}

.table-container > .zen-layout__full-screen-element {
  height: 100%;
}

.table-container > .zen-layout__full-screen-element > .zen-table-wrapper {
  height: 100% !important;
}

.zen-card-container--large {
  max-height: 100%;
}
